= simple_form_for current_player.game_library do |f|
  = f.input :game_summary_ids, as: :hidden, input_html: {value: [-game_summary.id]}
  %button.btn.btn-danger.btn-xs{type: :submit}= icon('minus','Library')
