%p#notice= notice

.row
  %p
    %b Player:
    = @game_library.player.display_name
.row
  - if @game_library.game_summaries.empty?
    Go forth and play more games!
  - else
    = render @game_library.game_summaries
