= simple_form_for current_player.wish_list, remote: true do |f|
  = f.input :game_summary_ids, as: :hidden, input_html: {value: [game_summary.id]}
  %button.btn.btn-info.btn-xs{type: :submit}= icon('plus','Wish List')
