%h2 Privacy Policy
  %h4 TODO GOALS
%strong not yet binding, still collecting thoughts, and yes I agree I may be overthinking it
%p
  I believe in protecting the privacy of users.  your email and password are only used to provide
  authentication.  Your Player persona is separate from your credentials.
%p
  Public Groups can be seen by anyone visiting the site, including the public.
  Part of the agreement to change your group to public is an agreement to license your
  name, mottos, description, play session history, games history and a limited view of those members who want to be visible.
%p
  deleting things is possible, but it is the internet, and if formally public, it would have been
  within the terms of the license to have copied your data off this site and beyond our control.


<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">GameNight</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
