%p
  This site does not share personal information with third parties nor do we store any information
  about your visit to this blog other than to analyze and optimize your content and reading
  experience through the use of cookies.

%p
  Cookies are used soley to failitate authentication and authorization.  Guest may view content
  without cookies.

%p
  We are not responsible for republished content from this site on other blogs or websites
  without our permission.

%p
  This privacy policy is subject to change without notice and was last updated on July 17, 2015.
  If you have any questions feel free to contact me directly here: anithri at gmail dot com
