.col-md-3.gameSummaryBlock
  .panel.panel-warning
    .panel-heading
      = link_to game_summary_path(game_summary), class: 'text-white' do
        = game_summary.name
        %small= game_summary.year_published
    .panel-body
      = image_tag game_summary.thumbnail_url, class: :center

