- if current_player.game_library.game_summaries.include? game_summary
  = render 'game_summaries/game_summary_in_library', game_summary: game_summary
- else
  = render 'game_summaries/game_summary_not_in_library', game_summary: game_summary


