%h3 All Mechanics
.row
  = render partial: 'bgg_mechanics/bgg_mechanic_summary', collection: @bgg_mechanics, as: :bgg_mechanic
.row.center-block
  = paginate @bgg_mechanics, theme: 'twitter-bootstrap-3'
