%h3
  = link_to "Publisher:", bgg_publishers_path
  = @bgg_publisher.name
  %small
    = link_to '[on BGG]', @bgg_publisher.bgg_url
= render 'game_summaries/game_summary_grid', game_summaries: @game_summaries
