%h3
  = link_to "Category:", bgg_categories_path
  = @bgg_category.name
  %small
    = link_to '[on BGG]', @bgg_category.bgg_url
= render 'game_summaries/game_summary_grid', game_summaries: @game_summaries

