.col-md-4
  .panel.panel-primary
    .panel-heading
      .panel-title
        = link_to gaming_group.name, gaming_group
        = visibility_icon_for(gaming_group)
    .panel-body{style: 'min-height: 120px'}
      = gaming_group.description
