.panel.panel-medium
  .panel-heading
    Game Sessions
  .panel-body
    - if @gaming_group.shared_with == 'public_group' || @gaming_group.has_member?(current_player)
      = render partial: 'game_sessions/session_summary',
               collection: @gaming_group.game_sessions,
               as: :game_session,
               locals: {gaming_group: @gaming_group}
    - else
      %p= "#{@gaming_group.game_sessions.size} Sessions"
      %p= "Average Attendence"
    TODO
