.panel.panel-light
  .panel-heading
    Members
  .panel-body
    = render partial: 'players/member_summary',
             collection: @gaming_group.players,
             as: :player,
             locals: {gaming_group: @gaming_group}
