//$panel-gsInLibrary-bg: #c9e4ca;
//$panel-gsInLibrary-border: darken(adjust_hue($panel-gsInLibrary-bg, 10),5%) !default;
//$panel-gsInLibrary-text: $brand-primary;
//
//$panel-gsNotInLibrary-bg: #87bba2;
//$panel-gsNotInLibrary-border: darken(adjust_hue($panel-gsNotInLibrary-bg, 10),5%) !default;
//$panel-gsNotInLibrary-text: $navbar-inverse-link-color;
//
//$panel-gsGuest-bg: #55828b;
//$panel-gsGuest-border: lighten(adjust_hue($panel-gsGuest-bg, 10),5%) !default;
//$panel-gsGuest-text: $navbar-inverse-link-color;
//
.panel-gsInLibrary {
  @extend .panel-success;
  .panel-heading {
    a {
      color: white;
    }
    a:visited {
      color: white;
    }
  }
}
.panel-gsNotInLibrary {
  @extend .panel-primary;
  .panel-heading {
    a {
      color: white;
    }
    a:visited {
      color: white;
    }
  }
}

.panel-gameLibrary {
  @extend .panel-primary;
}

.panel-wishList {
  @extend .panel-info;
  .panel-heading {
    a {
      color: white;
    }
    a:visited {
      color: white;
    }
  }
}
.panel-gsInWishList {
  @extend .panel-warning;
  .panel-heading {
    a {
      color: white;
    }
    a:visited {
      color: white;
    }
  }
}

//.panel-gsGuest {
//  @include panel-variant($panel-gsGuest-border, $panel-gsGuest-text, $panel-gsGuest-bg, $panel-gsGuest-border);
//}
//
